.color1Bg{

    background-color:#0d1321;

} 

.color1{

   color:#0d1321;

} 

.color2Bg{

    background-color:#1d2d44;

} 

.color2{

   color:#1d2d44;

} 

.color3Bg{

    background-color:#3e5c76;

} 

.color3{

   color:#3e5c76;

} 

.color4Bg{

    background-color:#748cab;

} 

.color4{

   color:#748cab;

} 

.color5Bg{

    background-color:#f0ebd8;

} 

.color5{

   color:#f0ebd8;

} 
