@import url('https://fonts.googleapis.com/css2?family=Anton&family=Architects+Daughter&family=Gloria+Hallelujah&family=Licorice&display=swap');

/* font-family: 'Anton', sans-serif;
font-family: 'Architects Daughter', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Licorice', cursive; */

:root {

    --color1: #0d1321;
    --color2: #1d2d44;
    --color3: #3e5c76;
    --color4: #748cab;
    --color5: #f0ebd8;
    --color6: #ffffff;

}

body{

    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--color5);
    margin: 0px;

}

.color1Bg{

    background-color: var(--color1);

} 

.color1{

   color:#0d1321;

} 

.color1shadowText{

    text-shadow: 2px 2px 4px  var(--color1);
 
 } 

 .color1shadowBox{

    box-shadow: 2px 2px 4px  var(--color1);
 
 } 

.color2Bg{

    background-color: var(--color2);

} 

.color2{

   color: var(--color2);

} 

.color2shadowText{

    text-shadow: 2px 2px 4px var(--color2);
 
 } 

 .color2shadowBox{

    box-shadow: 2px 2px 4px var(--color2);
 
 } 

.color3Bg{

    background-color: var(--color3);

} 

.color3{

   color: var(--color3);

} 

.color3shadowText{

    text-shadow: 2px 2px 4px var(--color3);
 
 } 

 .color3shadowBox{

    box-shadow: 2px 2px 4px var(--color3);
 
 } 

.color4Bg{

    background-color: var(--color4);

} 

.color4{

   color: var(--color4);

} 

.color4shadowText{

    text-shadow: 2px 2px 4px var(--color4);
 
 } 

 .color4shadowBox{

    box-shadow: 2px 2px 4px var(--color4);
 
 } 

.color5Bg{

    background-color: var(--color5);

} 

.color5{

   color: var(--color5);

} 

.color5shadowText{

    text-shadow: 2px 2px 4px var(--color5);
 
 } 

 .color5shadowBox{

    box-shadow: 2px 2px 4px var(--color5);
 
 } 

 .color6Bg{

    background-color: var(--color6);

} 

.color6{

   color: var(--color6);

} 

.color6shadowText{

    text-shadow: 2px 2px 4px var(--color6);
 
 } 

 .color6shadowBox{

    box-shadow: 2px 2px 4px var(--color6);
 
 } 

 .titleFont {

    font-family: 'Anton', sans-serif;
    font-size: 4vw;

}

.subTitleWriting {

    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.5vw;
    margin-block-end: 0em;

}

@media screen and (max-width: 900px) {

    .titleFont {

        font-family: 'Anton', sans-serif;
        font-size: 8vw;
    
    }
    
    .subTitleWriting {
    
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 2.5vw;
    
    
    }

}

.mainTitle{

    margin-block-end: 0em;

}

.mainSubTitle{

    margin-block-start: 0em;
    margin-block-end: 0em;
    transform: skew(20deg);

}

.max-width-title{

    max-width: 550px;

}

.max-width-content{

    max-width: 60%;

}


.subTitleSurround{

    padding: 5px 30px;
    transform: skew(-20deg);
    padding-left: 30px;
    
}

@media screen and (max-width: 900px) {

    .titleFont {

        font-family: 'Anton', sans-serif;
        font-size: 8vw;
    
    }
    
    .subTitleWriting {
    
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 2.5vw;
    
    
    }

    .subTitleSurround{

        padding: 5px 30px;
        transform: skew(-20deg);
        padding-left: 30px;
        max-width: 450px;
    
    }

    .max-width{

        max-width: 450px;
    
    }

    .max-width-content{

        max-width: 95%;
    
    }


}


.secondaryTitle{

    font-size: 2vw;
    margin-block-end: 0px;

}

.center{

    text-align: center;
}

p{

    margin: 0px;
    padding: 20px 20px;

}

.margin-bottom{

    margin-bottom: 20px;

}

.footer{

    /* position: absolute;
    bottom: 0px; */
    width: 100%;

}

.copywrite{

    width: 100%;
    padding: 10px 0px;
    display: flex;
    text-align: center;
    font-size: 10px;
    align-items: center;
    justify-content: center;
   

}

.footerLinks{

    text-align: center;
    width: 100%;

}

.fa {

    padding: 10px;
    font-size: 30px !important;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 2px;
    background: var(--color2);
    color: var(--color5);

  }
  
  .fa:hover {

    opacity: 0.7;

  }
  

.innerSection{

    margin: auto;

}

.skillsBoxOuter{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.skillsBoxOuter > .skillsBox {

    margin: 20px;
    width: 100px;
    height: 100px;
    background: var(--color2);
    color: var(--color5);
    font-size: 4.5em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    

}

.skillsBox:hover {

    opacity: 0.7;

}

.bold {

    font-weight: bold;

}

.commandline {

    background-image: url("./images/commandline.svg");
    width: 80px;
    height: 80px;
    background-size: 80px 80px;
    background-repeat: no-repeat;

}

.commandline2 {

    width: 80px;
    height: 80px;
    display: inline-block;
    
    -webkit-mask: url("./images/commandline.svg") no-repeat 50% 50%;
    mask: url("./images/commandline.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;

}

.readerScreen {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    opacity: 0.8;
    top:0px;
    z-index: 99998;
    display: flex;
    align-items: center;
    justify-content: center;

}

.readerDispaly {

    position: fixed;
    opacity: 1.0;
    top: 50%;
    transform: translatey(-50%);
    width: 70%;
    background-color: var(--color2);
    color: var(--color5);
    z-index: 99999;

}


.close {

    cursor: pointer;

}

.close:hover {

    opacity: 0.8;
    
}

